.header-header{
    background: var(--principal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)
}

.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-content: center;
}

.header-nav-ul{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

.header-nav-li{
    list-style: none;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
/* Aqui no se hace un header-nav-li > li por si se tiene que poner otra etiqueta en el nav que no sea un boton*/
.go-login-btn{
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

.go-register-btn{
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

.header-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}